/* FIXME entrelacmeent quand zoom entre toolbar et rotor */


/* HTML */

button::-moz-focus-inner {
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}


/* containers */

#toolbar-container {
  height:100px;
}

#info-container{
  
  width:20%;
  background:red;
  text-align: center;
  position: fixed;
  right:0;
}

#rotors-container {
  float:left;
  width: 80%;
  background: blue;
  margin:0 auto;
  text-align: center;
}

#plugboard-container{
  
}

/* Toolbar */

ul.toolbar {
  box-shadow: 0px 5px 10px grey;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-left: 60px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.toolbar li {
  float: left;
}


/* Toolbar spans */

ul.toolbar span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Toolbar links */

ul.toolbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.toolbar a:hover:not(.tb-active) {
  background-color: #111;
}

a.tb-active {
  background-color: #4CAF50;
}


/* Reflector */

.reflector {
  display: inline-block;
  background: green;
  padding: 0;
  vertical-align: top;
  margin:15px;
  width: 250px;
  border: 1px solid black;
}

.reflector-button-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background: yellow;
}

.reflector-button-container button {
  width: 100%;
  background: red;
  margin: 0;
  padding: 5px;
  /*border: 1px solid black;*/
}

/* Rotor */

.rotor {
  display: inline-block;
  background: green;
  padding: 0;
  vertical-align: top;
  width: 250px;
  margin:15px;
  border: 1px solid black;
}

.rotor-button-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background: yellow;
}

.rotor-button-container button {
  width: 20%;
  background: red;
  margin: 0;
  padding: 5px;
  /*border: 1px solid black;*/
}

.rotor-param-container{
  width:100%;
  background:red;
}

.rotor-param{
  display:inline-block;
  margin:15px;
  margin-left:30px;
  margin-right: 30px;
  border:1px solid black;
}

.rotor-param-element{
  display: block;
  width:100%;
}

.rotor-param button{
  background:green;
  display: block;
  width:100%;
}

/* Plugboard */ 