
/* HTML */

button::-moz-focus-inner {
  border: 0;
}

button{
  cursor:pointer;
  font-family: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  padding:0;
  text-align: center;
  font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:22px;
  background:#eaeaea;
}


/* sections */

#section-config{
  width:100%;
  background:#f4f4f4;
  text-align: center;
  height: auto;
  padding:0 ;
}

#section-input{
  width:100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background:#eaeaea;
  border-top: 2px solid #e0e0e0;
  text-align: center;
}

/* containers */

#toolbar-container {
  height:70px;
}

#rotors-container {
  display: inline-block;
  width: 70%;
  height: auto;
  margin:0 auto;
  padding-top:20px;
  text-align: center;
  vertical-align: top;
}

#plugboard-container{
  display: inline-block;
  width: 60%;
  margin:0 auto;
  text-align: center;
  vertical-align: top;
}

#input-container{
  display: block;
  width: 55%;
  margin:0 auto;
  margin-bottom:70px;
  border-radius:5px;
  text-align: center;
  vertical-align: top;
  box-shadow: #000 0px 0px 5px 1px;
}

#output-container{
  display: block;
  width: 55%;
  margin:0 auto;
  margin-top:70px;
  border-radius:5px;
  text-align: center;
  vertical-align: top;
  box-shadow: #000 0px 0px 5px 1px;
}

/* Toolbar */

ul.toolbar {
  display: flex;
  box-shadow: 0 0 1px 1px #000;
  list-style-type: none;
  margin: 0;
  padding:0;
  padding-left: 60px;
  overflow: hidden;
  background: #005dbf;
  position: fixed;
  top: 0;
  width: 100%;
  height:70px;
  justify-content: flex-start;
  align-items: center;
}

/* Toolbar spans */

ul.toolbar span {
  display: block;
  color: white;
  text-align: center;
  padding:20px;
  padding-left: 0;
  padding-right:0;
  margin:0;
  margin-right: 15px;
  text-decoration: none;
  border-bottom:0px solid black;
  height:100%;
}
ul.toolbar span:hover {
  border-bottom:0px solid #00396d;
  color:#dfdfdf;
  cursor:pointer;
}


/* Toolbar links */

ul.toolbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.toolbar a:hover:not(.tb-active) {
  background-color: #111;
}

a.tb-active {
  background-color: #4CAF50;
}

/* Reflector */

.reflector-choice {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.reflector-choice button {
  width: 50%;
  margin: 0;
  padding: 5px;
  background:inherit;
  color:#3f668b;
  border-width: 0;
  border-top: 2px solid #004d95;
  border-bottom: 2px solid #004d95;
  /*border: 1px solid black;*/
}

.reflector-choice button:hover{
  background:#004d95;
  color:white;
}

/* Rotor */

.rotor {
  display: inline-block;
  width: 280px;
  margin:25px;
  margin-bottom: 0;
  padding: 0;
  background:#00396d;
  border: 3px solid #004d95;
  border-radius: 5px;
  vertical-align: top;
  box-shadow: #000 0px 0px 5px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

.rotor span{
  display:block;
  padding:10px;
  color:white;
}

.rotor-choice {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.rotor-choice button {
  width: 20%;
  margin: 0;
  padding: 5px;
  background:inherit;
  color:#3f668b;
  border-width: 0;
  border-top: 2px solid #004d95;
  border-bottom: 2px solid #004d95;
  /*border: 1px solid black;*/
}

.rotor-choice button:hover{
  background:#004d95;
  color:white;
}

.param-container{
  width:100%;
}

.param-container span{
  padding:0;
}

.param{
  display:inline-block;
  width:60px;
  margin:15px;
  margin-left:30px;
  margin-right: 30px;
  font-size: 15px;
}

.param button{
  display: block;
  width:auto;
  height:auto;
  margin:0 auto;
  margin-top:10px;
  padding:5px;
  color:#3f668b;
  background: inherit;
  border-radius: 0%;
  border-width: 0;
  font-size:20px;
}

.param button:hover{
  background:inherit;
  color:white;
}

.rotate-left:active{
  -ms-transform:rotate(30deg); /* IE 9 */
  -moz-transform:rotate(30deg); /* Firefox */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  -o-transform:rotate(30deg); /* Opera */
}

.rotate-right:active{
  -ms-transform:rotate(-30deg); /* IE 9 */
  -moz-transform:rotate(-30deg); /* Firefox */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -o-transform:rotate(-30deg); /* Opera */
}

.param-value{
  display: block;
  width:auto;
  margin:0 auto;
  margin-top:10px;
  font-size: 25px;
}

/* Plugboard */

#plugboard-list{
  padding:0;
  margin:0;
}

#plugboard-adder{
  width:150px;
  margin:25px auto;
  padding:0;
  text-align: center;
}

#add-button{
  width:100%;
  margin:0;
  margin-top: 5px;
  padding:10px;
  background:#00396d;
  color:white;
  border: 2px solid #004d95;
  border-radius: 20px;
}

#add-button:hover{
  background:#004d95;
}

#add-button:disabled{
  background:#959595;
  border-color:#909090;
  color:#747474;
  cursor:default;
}

#add-entries{
  width:100%;
  padding:0;
  margin:0;
}

#add-entries textarea{
  width:50%;
  height:50px;
  margin:0;
  padding:0;
  padding-top:8px;
  background:white;
  color: #004d95;
  border: 2px solid #004d95;
  font-size:25px;
  font-family: inherit;
  text-align: center;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#entry-one{
  border-radius: 20px 0px 0px 20px;
}

#entry-two{
  border-radius: 0px 20px 20px 0px;
}

.add-item{
  display: inline-block;
  width:70px;
  height:50px;
  margin-top:25px;
  margin-bottom: 0;
  margin-left:9px;
  margin-right:9px;
  padding:3px;
  border:2px solid #004d95;
  background:#00396d;
  color:white;
  border-radius: 8px;
  box-shadow: #575757 0px 0px 1px 1px;
}

.add-item span{
  display: flex;
  width:inherit;
  height:inherit;
  margin:0;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.cross-panel{
  display:flex;
  width:0;
  height:0;
  margin:0;
  padding:0;
  opacity:0.9;
  background:rgba(0, 0, 0, 0);
  border-radius: 6px;
  align-items:center;
  justify-content:center;
  position:absolute;
  overflow:hidden;
}

.cross{
  color:white;
}

.add-item:hover .cross-panel{
  width:inherit;
  height:inherit;
  overflow:visible;
}
.add-item:hover{
  border:2px solid #004d95;
  box-shadow: #575757 0px 0px 2px 1px;
  color:rgba(255, 255, 255, 0.31);
  cursor:pointer;
}

/* input */

#input-toolbar{
  width: 100%;
  height: 80px;
  margin:0;
  padding: 0;
  padding-left:30px;
  padding-right:30px;
  background:#004d95;
  border-radius: 5px 5px 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-menu{
  display: flex;
  float:right;
  width: 50%;
  height:inherit;
  margin:0;
  padding:0;
  background:inherit;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-menu button{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  padding-right:10px;
  background: inherit;
  border-width: 0;
  color:#3f7eb2;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;

}

#input-menu button:hover{
  color:white;
}


#input-title{
  display: flex;
  float:left;
  width: 50%;
  height:inherit;
  margin:0;
  padding:0;
  background:inherit;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-title span{
  width:auto;
  height:auto;
  color:white;
  font-family: inherit;
  font-size: 25px;
  font-variant: small-caps;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-container textarea{
  display: block;
  width:100%;
  margin:0;
  padding:30px;
  height:300px;
  color:#00396d;
  font-family: inherit;
  font-size: 20px;
  resize: none;
  outline: none;
  text-align: left;
  border: 3px solid #004d95;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/* output */

#output-toolbar{
  width: 100%;
  height: 80px;
  margin:0;
  padding: 0;
  padding-left:30px;
  padding-right:30px;
  background:#00396d;
  border-radius: 5px 5px 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-menu{
  display: flex;
  float:left;
  width: 50%;
  height:inherit;
  margin:0;
  padding:0;
  background:inherit;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-menu button{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  padding-right:10px;
  background: inherit;
  border-width: 0;
  color:#3f668b;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;

}

#output-menu button:hover{
  color:white;
}


#output-title{
  display: flex;
  float:right;
  width: 50%;
  height:inherit;
  margin:0;
  padding:0;
  background:inherit;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-title span{
  width:auto;
  height:auto;
  color:#eaeaea;
  font-family: inherit;
  font-size: 25px;
  font-variant: small-caps;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-container textarea{
  display: block;
  width:100%;
  margin:0;
  padding:30px;
  height:300px;
  background:inherit;
  color:#4a4a4a;
  font-family: inherit;
  font-size: 20px;
  resize: none;
  outline: none;
  text-align: left;
  border: 3px solid #00396d;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
