html, body{
  height:100%;
  margin:0;
  padding:0;
  font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
  /*font: bold 15px Sans-serif;
  font-variant:small-caps;*/
}

/* Config view */

.config{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;
  width:65%;
  height:100%;
  background:#9a9a9a; 
  /*border: 1px solid black;*/
  padding:0;
  margin;0;
}

div.parameters{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:block;
  float:top;
  height:50%;
  width:100%;
  border:2px solid #505050;
  border-right:0;
}

div.reflector{
  display:inline;
  float:left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border:2px solid black;*/
  width:10%;
  height:100%;
  margin:0;
  padding:0;
}

button.reflector{
  float:top;
  height:50%;
  width:100%;
  padding:0;
  margin:0;
  background:#9a9a9a;
  color:black;
  border-width:0;
  border-right:2px #505050 solid;
}

div.rotor{
  float:left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right:2px solid #505050;
  width:30%;
  height:100%;
}

div.rotorname{
  float:top;
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#505050;
  color:black;
  /*border:2px solid black;*/
  width:100%;
  height:10%;
  align-items: center;
  justify-content: center;

}

div.rotorchoice{
  display:block;
  float:top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border:2px solid black;*/
  width:100%;
  height:10%;
}

button.rotorchoice{
  float:left;
  height:100%;
  width:20%;
  background:#9a9a9a;
  color:black;
  padding:0;
  margin:0;
  border-width:0;
  
}

div.settingblock{
  display:block;
  float:top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border:2px solid black;*/
  width:100%;
  height:40%;
}

div.settingname{
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:30%;
  background:#505050;
  color:black;
  align-items: center;
  justify-content: center;
  /*border:2px solid black;*/
  
}

div.valuecontainer{
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:70%;
}

div.settingvalue{
  float:left;
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:70%;
  height:100%;
  font-size:30px;
  font-weight:40px;
  align-items: center;
  justify-content: center;  
}

div.settingbutton{
  float:left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:30%;
  height:100%;
}

button.settingbutton{
  float:top;
  height:50%;
  width:100%;
  font-size:30px;
  border-width:0;
  background:#9a9a9a;
  color:#272525;
}

div.board{
  float:bottom;
  height:50%;
  width:100%;
}

div.plugboard{
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:90%;
  width:100%;
  margin:0;
  padding:0;
  /*border:2px solid black;*/
}

div.plugblock{
  float:left;
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
  width:25%;
}

div.plugaddbutton{
  display:block;
  float:bottom;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:40%;
  width:100%;
  background:black;
}

button.plugaddbutton{
  float:top;
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:100%;
  font-size:70px;
  align-items: center;
  justify-content: center; 
  /*padding:0;
  margin:0;*/
  background:#505050;
  color:white;
  border-width:0;
  border:0px black solid;
  
  
}

div.plugcontainer{
  display:block;
  float:top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:60%;
  width:100%;
}


div.plugchoicecontainer{
  float:top;
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:50%;
}

div.plugchoicevalue{
  float:left;
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:55%;
  height:90%;
  font-size:30px;
  font-weight:40px;
  align-items: center;
  justify-content: center;  
}

div.plugchoicebutton{
  float:right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:45%;
  height:90%;
}

button.plugchoicebutton{
  float:top;
  height:50%;
  width:100%;
  font-size:30px;
  border-width:0;
  background:#9a9a9a;
  color:#272525;
}


div.plugvalueblock{
  float:right;
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
  width:75%;
}

div.plugvaluerow{
  float:top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:50%;
  width:100%;
  border:0px solid black;
}

div.plugvalue{
  float:left;
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:20%;
  height:100%;
  font-size:30px;
  font-weight:40px;
  align-items: center;
  justify-content: center;  
}

button.plugvaluedelete{
  border:0px solid black;
  background:#9a9a9a;
  margin-left:10px;
  background:transparent;
  color:#d8d8d8;
}

button.plugvaluedelete:hover{
  border:0px inset #4e0000;
  color:black;
  margin-left:10px;
  background:transparent;
  color:#9d1616;
}




/* Data view */

textarea{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #505050;
  border-radius:0;
  padding:15px;
  margin:0;
  background:#f0f0f0;
  resize:none;
  text-transform:uppercase;  
}

.data{ 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:right;
  width:35%;
  height:100%;
  background:#d0d0d0; 
  /*border:1px solid black;*/
  padding:0;
  margin:0;
}

div.input{
  float:top;
  width:100%;
  height:50%;
}

textarea.input{
  width:100%;
  height:90%;
  border-left:0;
}

div.output{ 
  float:bottom;
  width:100%;
  height:50%;
  
}

textarea.output{
  width:100%;
  height:90%;
}

div.title{
  display:flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#e0e0e0;
  width:100%;
  height:10%;
  /*border:2px solid black;*/
  font-size:25px;
  align-items: center;
  justify-content: center;
}

