/* HTML */

button::-moz-focus-inner {
  border: 0;
}

div::-moz-focus-inner {
  border: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  transition: ease .2s;
  -webkit-transition: ease-out .4s;
  -ms-transition: ease-out .4s;
  -moz-transition: ease-out .4s;
  -o-transition: ease-out .4s;
}

textarea {
  outline: none;
  -webkit-transition: ease-in .2s;
  -ms-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -o-transition: ease-in .2s;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Ubuntu, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 22px;
  background: #eaeaea;
}


/* Toolbar */

#toolbar-section {
  width: 100%;
  height: auto;
  margin:0;
  padding:0;
}

#toolbar {
  position: static;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  background: #005dbf;
  /*box-shadow: 0 0 1px 1px #000;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tab {
  display: flex;
  height: 100%;
  width: auto;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: default;
}


.error{
  color:red;
}

.tab a {
  display: flex;
  width: auto;
  height: auto;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 22px;
  font-variant: normal;
  text-decoration: none;
  outline: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab a:hover {
  background: #0068d6;
  border-radius: 7px;
}

.tab a.active {
  background: white;
  color: #005dbf;
  border-radius: 7px;
}

#tabbar {
  width: 100%;
  height: 0%;
  margin: 0;
  padding: 0;
  background: green;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bar {
  position: relative;
  width: 0;
  margin: 0;
  padding: 0;
  left: 0;
  height: 100%;
  background: white;
}


/* sections */

#utility {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#graphic {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Notifications */

.notification {
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 50%;
}

.notif-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  font-size: 15px;
  position: relative;
  left: -50%;
  background: rgba(80, 80, 80, 0.86);
  color: white;
  box-shadow: rgba(80, 80, 80, 0.67) 0px 0px 5px 2px;
  border-radius: 20px;
}


/* utility sections */

#section-config {
  width: 100%;
  height: auto;
  padding: 0;
  padding-bottom: 50px;
  background: #f4f4f4;
  text-align: center;
}

#section-input {
  width: 100%;
  height: auto;
  padding-top: 50px;
  background: #eaeaea;
  border-top: 2px solid #e0e0e0;
  text-align: center;
}


/* utility containers */

#reflectors-container {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
}

#rotors-container {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
}

#plugboard-container {
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  vertical-align: top;
}

#input-container {
  display: block;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  box-shadow: #000 0px 0px 5px 1px;
}

#output-container {
  display: block;
  width: 55%;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  box-shadow: #000 0px 0px 5px 1px;
}


/* utility reflector */

.reflector-choice {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.reflector-choice button {
  width: 50%;
  margin: 0;
  padding: 5px;
  background: inherit;
  color: #3f668b;
  border-width: 0;
  border-top: 2px solid #004d95;
  border-bottom: 2px solid #004d95;
}

.reflector-choice button:hover {
  background: #004d95;
  color: white;
}

.reflector-choice button.active {
  background: #004d95;
  color: white;
}


/* utility rotor */

.rotor {
  display: inline-block;
  width: 270px;
  margin: 30px;
  margin-bottom: 0;
  padding: 0;
  background: #00396d;
  border: 3px solid #004d95;
  border-radius: 5px;
  vertical-align: top;
  box-shadow: #000000 0px 0px 5px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

.rotor span {
  display: block;
  padding: 10px;
  color: white;
}

.rotor-choice {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.rotor-choice button {
  width: 20%;
  margin: 0;
  padding: 5px;
  background: inherit;
  color: #3f668b;
  border-width: 0;
  border-top: 2px solid #004d95;
  border-bottom: 2px solid #004d95;
}

.rotor-choice button:hover {
  background: #004d95;
  color: white;
}

.rotor-choice button.active {
  background: #004d95;
  color: white;
}

.param-container {
  width: 100%;
}

.param-container span {
  padding: 0;
}

.param {
  display: inline-block;
  width: 60px;
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
}

.param button {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  color: #3f668b;
  background: inherit;
  border-radius: 0%;
  border-width: 0;
  font-size: 20px;
}

.param button:hover {
  position: relative;
  background: inherit;
  color: white;
}

.param button:disabled {
  background: inherit;
  color: #004d95;
  cursor: default;
}

.rotate-left:active {
  -ms-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -webkit-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.rotate-right:active {
  -ms-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
  -webkit-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.param-value {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 25px;
}


/* utitility plugboard */

#plugboard-list {
  padding: 0;
  margin: 0;
}

#plugboard-adder {
  width: 185px;
  margin: 25px auto;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

#add-button {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  background: #00396d;
  color: white;
  border: 2px solid #004d95;
  border-radius: 20px;
}

#add-button:hover {
  background: #004d95;
}

#add-button:disabled {
  background: #959595;
  border-color: #909090;
  color: #747474;
  cursor: default;
}

#add-entries {
  width: 100%;
  padding: 0;
  margin: 0;
}

#add-entries textarea {
  width: 50%;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  background: white;
  color: #004d95;
  border: 2px solid #004d95;
  font-size: 25px;
  font-family: inherit;
  text-align: center;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#entry-one {
  border-radius: 20px 0px 0px 20px;
}

#entry-two {
  border-radius: 0px 20px 20px 0px;
}

#entry-one:disabled {
  background: #959595;
  border-width: 0;
  cursor: default;
}

#entry-two:disabled {
  background: #959595;
  border-width: 0;
  cursor: default;
}

.add-item {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 7px;
  margin-right: 7px;
  padding: 3px;
  border: 2px solid #004d95;
  background: #00396d;
  color: white;
  border-radius: 8px;
  box-shadow: #575757 0px 0px 1px 1px;
  -webkit-transition: ease-in-out .2s;
  -ms-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
}

.add-item span {
  display: flex;
  width: inherit;
  height: inherit;
  margin: 0;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.cross-panel {
  display: none;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.cross {
  color: white;
}

.add-item:hover .cross-panel {
  display: flex;
}

.add-item:hover {
  border: 2px solid #004d95;
  box-shadow: #575757 0px 0px 2px 1px;
  color: rgba(255, 255, 255, 0.31);
  cursor: pointer;
}


/* input */

#input-toolbar {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  background: #004d95;
  border-radius: 5px 5px 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-menu {
  display: flex;
  float: right;
  width: 50%;
  height: inherit;
  margin: 0;
  padding: 0;
  background: inherit;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-menu button {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  background: inherit;
  border-width: 0;
  color: #3f7eb2;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
}

#input-menu button:hover {
  color: #1f96ff;
}

#input-title {
  display: flex;
  float: left;
  width: 50%;
  height: inherit;
  margin: 0;
  padding: 0;
  background: inherit;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-title span {
  width: auto;
  height: auto;
  color: white;
  font-family: inherit;
  font-size: 25px;
  font-variant: small-caps;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#input-container textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 25px;
  height: 300px;
  color: #00396d;
  font-family: Courier;
  font-weight: bold;
  font-size: 20px;
  resize: none;
  outline: none;
  text-align: left;
  border: 3px solid #004d95;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* output */

#output-toolbar {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  background: #00396d;
  border-radius: 5px 5px 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-menu {
  display: flex;
  float: left;
  width: 50%;
  height: inherit;
  margin: 0;
  padding: 0;
  background: inherit;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-menu button {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  background: inherit;
  border-width: 0;
  color: #3f668b;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
}

#output-menu button:hover {
  color: #0088ff;
}

#output-title {
  display: flex;
  float: right;
  width: 50%;
  height: inherit;
  margin: 0;
  padding: 0;
  background: inherit;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-title span {
  width: auto;
  height: auto;
  color: #eaeaea;
  font-family: inherit;
  font-size: 25px;
  font-variant: small-caps;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#output-container textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 25px;
  height: 300px;
  background: inherit;
  color: #4a4a4a;
  font-family: Courier;
  font-size: 20px;
  font-weight: bold;
  resize: none;
  outline: none;
  text-align: left;
  border: 3px solid #00396d;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* graphic section */

#section-graphic {
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 10px;
}

#section-graphic .title {
  padding: 5px;
  color: #2a2d2f;
  font-size: 40px;
  font-variant: small-caps;
}

#machine-container {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#machine {
  display: block;
  width: 517px;
  height: 625px;
  background: #2a2d2f;
  /*background-image: url("../image/rubber.jpg");*/
  border: 10px solid white;
  -webkit-border-image: url(../image/wood.jpg) 30 round;
  -o-border-image: url(../image/wood.jpg) 30 round;
  border-image: url(../image/wood.jpg) 30 round;
  box-shadow: inset 0px 0px 10px 1px rgb(26, 26, 26), 0px 0px 3px 3px rgb(62, 43, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#machine-components {
  display: flex;
  width: 100%;
  height: 40%;
  padding-left:100px;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.machine-components-close {
  background: inherit;
}

.machine-components-open {
  background: #1e2124;
}

#reflector-component{
  display:flex;
  width:170px;
  height:160px;
  padding-left:20px;
  border-radius:50px 5px 5px 50px;
  align-items:center;
  justify-content:flex-start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reflector-component-close{
  background:inherit;
  color: #2a2d2f;
}

.reflector-component-open{
  color:#333333;
  background:#cccccc;
  border:2px solid #cccccc;
  box-shadow: inset 13px -15px 33px -14px rgba(50,50,50,0.75), inset 13px 15px 33px -14px rgba(50,50,50,0.75);
  cursor:pointer;
}

.rotor-component {
  display: flex;
  width: auto;
  height: 180px;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rotor-component-close {
  background: inherit;
}

.rotor-component-open {
  background: inherit;
}

.rotor-letters{
  height:90%;
  width:30px;
  color: #2a2d2f;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rotor-letters-open{
  border:2px solid #cccccc;
}

.rotor-letter {
  display: flex;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rotor-letter-open{
  box-shadow: inset -1px -2px 5px 1px rgba(0,0,0,0.75);
}

.rotor-letter-close{
  background:inherit;
  color:inherit;
}

.rotor-frame-close {
  border-top: 2px inset #2e2d27;
  border-left: 2px inset #2e2d27;
  border-bottom: 2px outset #2e2d27;
  border-right: 2px outset #2e2d27;
  box-shadow: inset 0px 0px 1px 1px rgb(0, 0, 0);
  /*box-shadow: inset -1px -2px 15px 1px rgba(0,0,0,0.75);*/
}

.rotor-frame-open {
  border-width: 0;
  box-shadow: inset -1px -2px 5px 1px rgba(0,0,0,0.75);
}


.rotor-separator {
  height: 70%;
  width: 0;
  margin-top: 15%;
  margin-bottom: 15%;
}

.rotor-separator0-close {
  background: inherit;
}

.rotor-separator0-open {
  /*height: 90%;
  background: black;
  box-shadow: inset -9px -46px 83px -36px rgba(100, 100, 100, 0.75), inset 20px -46px 83px -36px rgba(100, 100, 100, 0.75);*/
}

.rotor-separator1-close {
  background: inherit;
}

.rotor-separator1-open {
  /*background: #c9c9c9;
  box-shadow: inset -9px -46px 83px -36px rgba(100, 100, 100, 0.75), inset 20px -46px 83px -36px rgba(100, 100, 100, 0.75);*/
}

.rotor-wheel {
  width: 7px;
  height: 100%;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rotor-tooth {
  width: 100%;
  border: 0px solid #2e2e2e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tooth-state-0 {
  box-shadow: 0px 8px 5px 0px rgba(42, 45, 47, 0.75), inset 0px 8px 5px 0px rgba(42, 45, 47, 0.75);
}

.tooth-state-1 {
  box-shadow: 0px 8px 5px 0px rgba(42, 45, 47, 0.75), inset 0px 8px 5px 0px rgba(42, 45, 47, 0.75);
}

#machine-output {
  position: relative;
  display: block;
  width: 100%;
  height: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.machine-output-close {
  box-shadow: 0px 21px 9px -5px rgba(0, 0, 0, 1), inset 0px -12px 9px -5px rgba(0, 0, 0, 1);
}

.machine-output-open {
  box-shadow: inset 0px -12px 9px -5px rgba(0, 0, 0, 1);
  background: #1e2124;
  border-bottom: 5px solid #141617;
}

.open-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  background: inherit;
  color: rgb(61, 69, 75);
  border-width: 0;
  font-weight: bold;
  font-size: 25px;
  transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  -o-transition: none;
}

.open-button:hover {
  color: rgb(109, 119, 128);
}

#machine-input {
  display: block;
  width: 100%;
  height: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.keyboard-line {
  display: flex;
  width: 100%;
  height: 32%;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.keyboard-line-input {
  box-shadow: 0px 14px 9px -5px rgba(0, 0, 0, 1), inset 0px -10px 9px -5px rgba(0, 0, 0, 1);
}

.line0 {
  padding-left: 40px;
}

.line1 {
  padding-left: 60px;
}

.line2 {
  padding-left: 25px;
}

.output-key {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: #0f0f0f;
  color: #d1cfba;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-top: 1px inset #292929;
  border-bottom: 1px inset #292929;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: inset -1px 0px 15px -6px rgb(54, 54, 54);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.output-light {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: #d1cfba;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-left: 1px outset #292929;
  border-right: 1px outset #292929;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: inset -1px 0px 15px -6px rgb(54, 54, 54);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.output-key:hover {
  cursor: default;
}

.output-key-active {
  color: #ffff00;
}

.output-light-active {
  background: #ffff00;
}

.input-key {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: #1d1d1d;
  color: #fffef4;
  border-radius: 50%;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border: 2.5px solid #cbc8c2;
  box-shadow: 5px 5px 15px 2px rgb(0, 0, 0);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: ease-in-out .1s;
  -ms-transition: ease-in-out .1s;
  -moz-transition: ease-in-out .1s;
  -o-transition: ease-in .1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-key:hover {
  cursor: pointer;
}

.input-key:active {
  display: flex;
  border-width: 2px;
  width: 28px;
  height: 28px;
  font-size: 18px;
  margin-left: 2px;
  box-shadow: 0 0 0 0 #000000;
  align-items: center;
  justify-content: center;
}
