
html, body{
  height:100%;
  margin:0;
  padding:0;
}

div#config{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;
  width:50%;
  height:100%;
  padding:20px;
  background:#555454;
}

div#data {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:right;
  width:50%;
  height:100%;
  padding:16px;
  margin:0;
  /*border:40px blue solid;*/
  background:#3f8e8b;
}

textarea{
  background:#aeb1a1;
  border:2px #7d8656 solid;
  border-radius: 20px;
  padding:20px;
}

textarea#input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:auto;
  width:100%;
  height:49%;
  margin-bottom:15px;
}

textarea#output{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:auto;
  width:100%;
  height:49%;
}
